footer {
    
    padding: 3rem;
    text-align: center;
    font-size: 0.9rem;
    margin-top: 7rem;

}

.footer_copyright {
    margin-bottom: 5.5rem;
    color: var(--color-bg);
}

/*========================Media Queries (Medium Devices)================= */
@media screen and (max-width: 1024px) {

}

@media screen and (max-width: 600px) {

}

@media screen and (max-width: 389px) {

}